.hidden_hy{
	background-color: rgba(101, 255, 0, 0);
}
.odd_table{
	border: rgb(199, 211, 217);
	border-collapse:collapse;
	width: 100%;
	table-layout:fixed;
}	
.odd_table thead td{
	text-align:center;
	background-color: #DFDFDF;	
}
.odd_table thead th{
	background-color: rgb(217, 241, 255);	
}
.odd_table tfoot td{
	background-color: #f8f8f8;	
}
.odd_table tbody tr td {
	text-align:center;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    color: black;
    font-size:14px;
    padding: 0 0px;
}
/*
只读表单的样式
*/
.read_only{
	background-color: rgba(222, 164, 0, 0.06);
}
/*
警告样式
*/
.warn_span{
	color: #FCB805;
}
/*
表单，取消空间
*/
form{
	margin: 0px;
}
/*快速查询*/
.kscx{
	padding: 5px;
}
.box_div{
	border: 1px solid #D4D4D4;	
	height: 100px;
}