.hidden_hy{
	background-color: rgba(101, 255, 0, 0);
}
.odd_table{
	border: #224466;
	border-collapse:collapse;
	width: 100%;
	table-layout:fixed;
}	
.odd_table thead td{
	text-align:center;
	background-color: #DFDFDF;	
}
.odd_table thead th{
	background-color: #CEE7FD;	
}
.odd_table tfoot td{
	background-color: #DFDFDF;	
}
.odd_table tbody tr td {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    word-break:keep-all;
    color: black;
    font-size:14px;
    padding: 0 0px;
}
/*
只读表单的样式
*/
.read_only{
	background-color: rgba(222, 164, 0, 0.06);
}