<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx 
	 					http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop 
     					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">
	
	<!-- ***********测试的，已作废*************** -->	
	<bean id="zs_test" class="com.abe.action.TestAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- **************************ACTION******************************************** -->
	<bean id="zs_sign" class="com.abe.action.SignAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="signSer" ref="zs_sign_ser"></property>
	</bean>
	
	<!-- **************拦截器************* -->
	<bean id="zs_interceptor_role" class="com.abe.interceptor.RoleInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_timeline" class="com.abe.interceptor.TimelineInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_role_app" class="com.abe.interceptor.RoleInterceptorApp">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_timeline_app" class="com.abe.interceptor.TimelineInterceptorApp">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<!-- ***************service层********************** -->
	<bean id="zs_ser" class="com.abe.service.impl.BaseServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_sign_ser" class="com.abe.service.impl.SignServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<!-- ****************dao层********************* -->
	<bean id="zs_dao" class="com.abe.dao.BaseDaoImpl">
		<property name="ht" ref="hibtemp"></property>
	</bean>	
	<!-- ************************************* -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="hibtemp" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--创建事务管理器  -->	 
	<bean id="transmanager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置事务属性 -->
	<tx:advice id="txadvice" transaction-manager="transmanager">
		<tx:attributes>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 添加事务 -->
		<aop:config>
		<aop:pointcut expression="execution(* com.abe.dao.*.*(..))" id="dao"/>
		<aop:advisor advice-ref="txadvice" pointcut-ref="dao"/>
		</aop:config>
	</beans>