<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx 
	 					http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/aop 
     					http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	">
	
	<!-- ***********测试的，已作废*************** -->	
	<bean id="zs_test" class="com.abe.action.TestAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="groupSer" ref="zs_group_ser_hx"></property>
		<property name="userSer" ref="zs_users_ser_hx"></property>
	</bean>
	<!-- **************************ACTION******************************************** -->
	<bean id="zs_sign" class="com.abe.action.SignAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="signSer" ref="zs_sign_ser"></property>
	</bean>
	<!-- ****************首页**************** -->
	<bean id="zs_student" class="com.abe.action.home.InfoStuAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="studentSer" ref="zs_student_ser"></property>
	</bean>
	<bean id="ljl_teacher" class="com.abe.action.home.InfoTeaAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="teacherSer" ref="ljl_teacher_ser"></property>
	</bean>
	<bean id="lz_recipe" class="com.abe.action.RecipeAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="recipeSer" ref="lz_recipe_ser"></property>
	</bean>
	<bean id="lz_person_inform" class="com.abe.action.home.PersonInformAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="personInformSer" ref="lz_person_inform_ser"></property>
	</bean>
	<bean id="lz_vacate" class="com.abe.action.VacateAction">
 		<property name="ser" ref="zs_ser"></property>
 		<property name="vacateSer" ref="lz_vacate_ser"></property>	
 	</bean>
 	<bean id="lz_news" class="com.abe.action.home.NewsAction">
 		<property name="ser" ref="zs_ser"></property>
 		<property name="newsSer" ref="lz_news_ser"></property>	
 	</bean>
	<bean id="zs_forum" class="com.abe.action.home.ForumAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="forumSer" ref="zs_forum_ser"></property>
	</bean>
	<bean id="zs_timetables" class="com.abe.action.home.TimetablesAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="timetablesSer" ref="zs_timetables_ser"></property>
	</bean>
	<bean id="zs_course" class="com.abe.action.home.CourseAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="courseSer" ref="zs_course_ser"></property>
	</bean>
	<bean id="zs_card" class="com.abe.action.home.CardAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="cardSer" ref="zs_card_ser"></property>
	</bean>
	<bean id="zs_attendance" class="com.abe.action.home.AttendanceAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="attendanceSer" ref="zs_attendance_ser"></property>
	</bean>
	<bean id="zs_parents" class="com.abe.action.home.InfoParentsAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="parentSer" ref="zs_parents_ser"></property>
	</bean>
	<bean id="zs_rel" class="com.abe.action.home.StuParRelAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="parSer" ref="zs_parents_ser"></property>
		<property name="stuSer" ref="zs_student_ser"></property>
		<property name="relSer" ref="zs_rel_ser"></property>
	</bean>



	<!-- ****************消息中心**************** -->
	<bean id="lz_class_inform" class="com.abe.action.information.ClassInformAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="classInformSer" ref="lz_class_inform_ser"></property>
	</bean>
	<bean id="zs_province" class="com.abe.action.information.ProvinceAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="provinceSer" ref="zs_province_ser"></property>
	</bean>
	<bean id="zs_city" class="com.abe.action.information.CityAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="citySer" ref="zs_city_ser"></property>
	</bean>
	<bean id="zs_area" class="com.abe.action.information.AreaAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="areaSer" ref="zs_area_ser"></property>
	</bean>
	<bean id="zs_school" class="com.abe.action.information.SchoolAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="schoolSer" ref="zs_school_ser"></property>
	</bean>
	<bean id="zs_school_grade" class="com.abe.action.information.SchoolGradeAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="gradeSer" ref="zs_school_grade_ser"></property>
	</bean>
	<bean id="zs_school_class" class="com.abe.action.information.SchoolClassAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="classSer" ref="zs_school_class_ser"></property>
		<property name="groupSer" ref="zs_group_ser_hx"></property>
	</bean>
	<bean id="zs_hx_msg" class="com.abe.action.information.MsgAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="msgSer" ref="zs_message_ser_hx"></property>
	</bean>
	<bean id="zs_school_structure" class="com.abe.action.information.SchoolStructureAction">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	
	
	
	<!-- ********个人中心******系统管理********** -->
	<bean id="lz_bulletin" class="com.abe.action.information.BulletinAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="bulletinSer" ref="lz_bulletin_ser"></property>
	</bean>
	<bean id="lz_return" class="com.abe.action.information.ReturnAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="returnSer" ref="lz_return_ser"></property>
	</bean>
	<bean id="zs_one" class="com.abe.action.system.OneAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="signSer" ref="zs_sign_ser"></property>
	</bean>
	<bean id="zs_score" class="com.abe.action.home.ScoreAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="scoreSer" ref="zs_score_ser"></property>
 	</bean>
	<bean id="zs_users" class="com.abe.action.system.UsersAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="userSer" ref="zs_users_ser_hx"></property>
 	</bean>
 	<bean id="zs_role" class="com.abe.action.system.RoleAction">
		<property name="ser" ref="zs_ser"></property>
		<property name="roleSer" ref="zs_role_ser"></property>
 	</bean>
 	
 	
	<!-- **************拦截器************* -->
	<bean id="zs_interceptor_role" class="com.abe.interceptor.RoleInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_timeline" class="com.abe.interceptor.TimelineInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_token" class="com.abe.interceptor.TokenInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_style" class="com.abe.interceptor.StyleInterceptorWeb">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_role_app" class="com.abe.interceptor.RoleInterceptorApp">
		<property name="ser" ref="zs_ser"></property>
		<property name="signSer" ref="zs_sign_ser"></property>
	</bean>
	<bean id="zs_interceptor_timeline_app" class="com.abe.interceptor.TimelineInterceptorApp">
		<property name="ser" ref="zs_ser"></property>
	</bean>
	<bean id="zs_interceptor_SCT" class="com.abe.interceptor.SCTInterceptor">
	</bean>
	
	
	<!-- ***************service层********************** -->
	<bean id="zs_ser" class="com.abe.service.impl.BaseServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="zs_sign_ser" class="com.abe.service.impl.SignServiceImpl">
		<property name="dao" ref="zs_dao"></property>
		<property name="usersSer" ref="zs_users_ser_hx"></property>
	</bean>	
	<bean id="zs_student_ser" class="com.abe.service.home.impl.StudentServiceImpl">
		<property name="groupSer" ref="zs_group_ser_hx"></property>
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="ljl_teacher_ser" class="com.abe.service.home.impl.TeacherServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="lz_recipe_ser" class="com.abe.service.impl.RecipeServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>	
	<bean id="lz_vacate_ser" class="com.abe.service.impl.VacateServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
 	<bean id="lz_news_ser" class="com.abe.service.home.impl.NewsServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
	<bean id="lz_person_inform_ser" class="com.abe.service.home.impl.PersonInformServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
 	<bean id="lz_bulletin_ser" class="com.abe.service.information.impl.BulletinServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
 	<bean id="lz_class_inform_ser" class="com.abe.service.information.impl.ClassInformServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
 	<bean id="lz_return_ser" class="com.abe.service.information.impl.ReturnServiceImpl">
 		<property name="dao" ref="zs_dao"></property>
 	</bean>
	<bean id="zs_forum_ser" class="com.abe.service.home.impl.ForumServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_province_ser" class="com.abe.service.information.impl.ProvinceServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_city_ser" class="com.abe.service.information.impl.CityServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_area_ser" class="com.abe.service.information.impl.AreaServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_school_ser" class="com.abe.service.information.impl.SchoolServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_school_grade_ser" class="com.abe.service.information.impl.SchoolGradeServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_school_class_ser" class="com.abe.service.information.impl.SchoolClassServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_timetables_ser" class="com.abe.service.home.impl.TimetablesServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_course_ser" class="com.abe.service.home.impl.CourseServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_score_ser" class="com.abe.service.home.impl.ScoreServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_card_ser" class="com.abe.service.home.impl.CardServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_attendance_ser" class="com.abe.service.home.impl.AttendanceServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_parents_ser" class="com.abe.service.home.impl.ParentServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_rel_ser" class="com.abe.service.home.impl.RelServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_role_ser" class="com.abe.service.system.impl.RoleServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	
	
	<!-- ************环信的service层******************** -->
	<bean id="zs_users_ser_hx" class="com.abe.service.hx.impl.UsersServiceImpl">
		<property name="dao" ref="zs_dao"></property>
	</bean>
	<bean id="zs_message_ser_hx" class="com.abe.service.hx.impl.MessageServiceImpl">
		<property name="dao" ref="zs_dao"></property>
		<property name="userSer" ref="zs_users_ser_hx"></property>
	</bean>
	<bean id="zs_group_ser_hx" class="com.abe.service.hx.impl.ChatgroupServiceImpl">
		<property name="dao" ref="zs_dao"></property>
		<property name="userSer" ref="zs_users_ser_hx"></property>
	</bean>
	
	
	
	<!-- ****************dao层********************* -->
	<bean id="zs_dao" class="com.abe.dao.BaseDaoImpl">
		<property name="ht" ref="hibtemp"></property>
	</bean>	
	<!-- ************************************* -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:hibernate.cfg.xml">
		</property>
	</bean>
	<bean id="hibtemp" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!--创建事务管理器  -->	 
	<bean id="transmanager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<!-- 配置事务属性 -->
	<tx:advice id="txadvice" transaction-manager="transmanager">
		<tx:attributes>
			<tx:method name="query*" read-only="true"/>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	<!-- 添加事务 -->
		<aop:config>
		<aop:pointcut expression="execution(* com.abe.dao.*.*(..))" id="dao"/>
		<aop:advisor advice-ref="txadvice" pointcut-ref="dao"/>
		</aop:config>
	</beans>